name: CI workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 3 * * 1'
jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version-file: ".nvmrc"
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build
      - uses: ilteoood/docker_buildx@master
        if: github.ref == 'refs/heads/main'
        with:
          tag: latest,1.0.0
          imageName: ilteoood/xdcc-mule
          platform: linux/amd64,linux/arm64
          publish: true
          dockerUser: ilteoood
          dockerPassword: ${{ secrets.DOCKER_HUB_PASSWORD }}
